VITE_SUPABASE_URL=https://vhusjjjjtkcraahzzfqf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZodXNqampqdGtjcmFhaHp6ZnFmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzNjYxMzIsImV4cCI6MjA5MTk0MjEzMn0.EopD5FkVZuhi-YBQPry0_ek7o_2_GOKPYx6lD2P47VI
